body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  height: 6715px;
  width: 375px;
  border: 1px solid #ccc;
  background-image: url("images/header-ilustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 98px;
}

.top-part {
  align-items: center;
}
.toolbar {
  display: flex;
  justify-content: space-between;
}

.tool {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.logo {
  text-decoration: none;
  color: #172b4d;
}

.menu {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 16px 16px;
  right: 24px;
}

.menu:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}

.present {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 64px;
  font-style: normal;
}

.title {
  margin-bottom: 0;
}

.second-title {
  color: #36b37f;
  margin-top: 0;
}

.personal-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 20px 24px;
  text-align: center;
  color: #172b4d;
}

.social {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.social:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}

.social-media {
  padding-top: 38px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.division {
  display: flex;
  justify-content: center;
}

.arrow {
  width: 40px;
  height: 40px;
  margin-top: 48px;
}

.middle-part {
  display: flex;
  justify-content: center;
}

.card {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 474px;
  width: 327px;
}

.card-content {
  height: 222px;
  border-radius: 8px;
  padding: 16px;
  background: #ffffff;
}
