body {
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  /* width: 375px; */
  border: 1px solid #ccc;
  background-image: url("images/header-ilustration.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 40px;
}

@media (min-width: 768px) {
  .container {
    background-image: url("./images/Header-llustration-desktop.png");
    background-size: contain;
    background-position-y: 0px;
  }
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.tool {
  display: flex;
  align-items: center;
  padding: 10px 12px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
}

.logo {
  text-decoration: none;
  color: #172b4d;
}

.menu {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 16px 16px;
  right: 24px;
}

.menu:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .logo,
  .menu {
    display: none;
  }
}

.present {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin-top: 64px;
  font-style: normal;
}

.title {
  margin-bottom: 0;
}

.second-title {
  color: #36b37f;
  margin-top: 0;
}

.personal-description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 20px 24px;
  text-align: center;
  color: #172b4d;
}

.social {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.social:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}

.social-media {
  padding-top: 38px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.division {
  display: flex;
  justify-content: center;
}

.arrow {
  width: 40px;
  height: 40px;
  margin-top: 48px;
}

.middle-part {
  display: flex;
  justify-content: center;
}

.works-title1,
.works-title2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  display: flex;
  justify-content: center;
}

.works-title1 {
  margin-bottom: 0;
}

.works-title2 {
  margin-top: 0;
  margin-bottom: 24px;
}

.middle-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 62px;
}

.indicator {
  width: 48px;
  height: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
}

.card {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 474px;
  width: 327px;
  margin-left: 26px;
  margin-bottom: 24px;
}

.card-title1,
.card-title2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.card-title1 {
  margin-bottom: 3px;
}

.card-content {
  margin-top: 251px;
  border-radius: 8px;
  padding: 16px;
  background: #fff;
}

.languages {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  list-style-type: none;
  padding: 0;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.language {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 12px;
  flex: none;
  order: 3;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  margin-bottom: 15px;
}

.project-button {
  border: none;
  background: #36b37f;
  border-radius: 4px;
  width: 122px;
  height: 48px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.project-button:hover {
  cursor: pointer;
}

.about-button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.about-button {
  border: none;
  background: #36b37f;
  border-radius: 4px;
  width: 159px;
  height: 48px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
  margin-right: 105px;
}

.about-button:hover {
  cursor: pointer;
}

.about-me-header {
  display: flex;
  justify-content: space-between;
}

.about-me-title {
  margin-left: 90px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin-bottom: 24px;
  color: #172b4d;
}

.about-me-image1 {
  height: 127px;
  width: 68px;
}

.about-me-image2 {
  height: 57px;
  width: 70px;
}

.about-me-description {
  font-size: 20px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  margin: 0 12px 24px;
}

.reference-icon {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-left: 124px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: #fff;
  box-shadow: 0 16px 24px rgba(37, 47, 137, 0.08);
  align-items: center;
}

.language-icon {
  width: 44px;
  height: 44px;
}

.about-card {
  background: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  height: 352px;
  width: 327px;
  margin-left: 26px;
  margin-bottom: 24px;
}

.about-card-content {
  display: flex;
  align-items: center;
}

.aboutcard-title1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  color: #344563;
  margin-top: 64px;
}

.languages2 {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
  list-style-type: none;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding-left: 28px;
  padding-right: 28px;
  order: 1;
}

.language2 {
  background: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
}

.frameworks {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 600;
  list-style-type: none;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding-left: 0;
  order: 1;
}

.framework {
  background: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 600;
  list-style-type: none;
  letter-spacing: 0.03em;
  color: #36b37e;
  padding-left: 0;
  order: 1;
}

.skill {
  background: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
}

.skill2 {
  background: #fff;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
}

.about-interest {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  margin-bottom: 24px;
  color: #172b4d;
  padding: 0 24px;
  margin-top: 60px;
}

.form-list {
  list-style: none;
  padding-left: 24px;
  margin-bottom: 0;
}

.name-input::placeholder,
.email-input::placeholder {
  color: #6b778c;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

.name-input {
  width: 295px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  margin-bottom: 24px;
  padding: 15px 16px;
}

.email-input {
  width: 295px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  margin-bottom: 24px;
  font-style: normal;
  padding: 15px 16px;
}

.message-input::placeholder {
  color: black;
  font-weight: 400;
  font-size: 15px;
  font-style: normal;
  font-family: "Inter", sans-serif;
}

.message-input {
  width: 295px;
  height: 114px;
  border-radius: 4px;
  border: 1px solid #60c095;
  margin-bottom: 24px;
  padding: 15px 16px;
}

.input-button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-right: 24px;
}

.button-input {
  border: none;
  background: #36b37f;
  border-radius: 4px;
  width: 129px;
  height: 48px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #fff;
}

.button-input:hover {
  cursor: pointer;
}

.form-background {
  width: 50px;
  height: 130px;
  float: right;
  position: relative;
  top: -70px;
}

.social2 {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.social2:hover {
  background-color: whitesmoke;
  border-radius: 10px;
  cursor: pointer;
}

.social-media2 {
  float: clear;
  padding-top: 38px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-left: 50px;
}

.my-mail {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding-left: 50px;
  margin-bottom: 310px;
}

.bar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
}

.low-bar {
  height: 5px;
  width: 134px;
  border-radius: 10px;
}
